.password-status {
  &__item {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 70px 150px 20px;
    gap: 15px;
    justify-content: space-between;
    height: 20px;
  }
  &__fill {
    border-radius: 5px;
    width: 150px;
  }
}

.grey {
  background-color: grey;
}
.yellow {
  background-color: rgb(202, 202, 27);
}
.red {
  background-color: rgb(167, 17, 17);
}
.green {
  background-color: rgb(19, 155, 19);
}
