<div class="password-status__container">
  <div class="password-status__item">
    <div class="password-status__desc">Easy</div>
    <div
      class="password-status__fill"
      [ngClass]="{
        grey: status === 'Empty',
        yellow: status === 'Medium',
        green: status === 'Strong',
        red: status === 'Invalid' || status === 'Easy'
      }"
    ></div>
    <fa-icon [icon]="faXmark" *ngIf="status === 'Invalid'"></fa-icon>
    <fa-icon
      [icon]="faCheck"
      *ngIf="status !== 'Empty' && status !== 'Invalid'"
    ></fa-icon>
  </div>
  <div class="password-status__item">
    <div class="password-status__desc">Medium</div>
    <div
      class="password-status__fill"
      [ngClass]="{
        grey: status === 'Empty' || status === 'Easy',
        yellow: status === 'Medium',
        green: status === 'Strong',
        red: status === 'Invalid'
      }"
    ></div>
    <fa-icon [icon]="faXmark" *ngIf="status === 'Invalid'"></fa-icon>
    <fa-icon
      [icon]="faCheck"
      *ngIf="status === 'Medium' || status === 'Strong'"
    ></fa-icon>
  </div>
  <div class="password-status__item">
    <div class="password-status__desc">Strong</div>
    <div
      class="password-status__fill"
      [ngClass]="{
        grey: status !== 'Invalid' && status !== 'Strong',
        green: status === 'Strong',
        red: status === 'Invalid'
      }"
    ></div>
    <fa-icon [icon]="faXmark" *ngIf="status === 'Invalid'"></fa-icon>
    <fa-icon [icon]="faCheck" *ngIf="status === 'Strong'"></fa-icon>
  </div>
</div>
