.password {
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__label {
    text-align: center;
    font-size: 30px;
  }
  &__input {
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid orange;
    width: 300px;
  }
}
